@use '../variables' as *;
@use "sass:color";

.form-control.is-invalid {
  background-image: none;
}

.is-invalid {
  border-color: red;
  background-color: rgba(255, 0, 0, 0.1);
}

.invalid-feedback {
  background-image: none;
  display: block;
  color: red;
}
