@use '../variables' as *;
@use "sass:color";

.form-control.is-invalid {
  background-image: none;
}

.is-invalid {
  border-color: $danger;
  background-color: rgba($danger, 0.1);
}

.invalid-feedback {
  background-image: none;
  display: block;
  color: $danger;
}
