@use '../variables' as *;

.recommendation-card-form {
  background-color: $white;
  border-radius: $border-radius-large;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .recommendation-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .recommendation-card-category {
      background-color: #FFA400;
      padding: 0.5rem;
      border-radius: 5px;
      font-weight: bold;
      color: white;
    }

    .button {
      background-color: $primary;
      color: $white;
      padding: $btn-padding-y $btn-padding-x;
      font-size: $btn-font-size;
      font-weight: $btn-font-weight;
      border-radius: $border-radius-small;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s;

      &.rating-button {
        font-size: 1.25rem;
        background-color: transparent;
        color: $primary;
      }

      &:hover {
        background-color: darken($primary, 10%);
      }
    }
  }


  .form-label {
    font-size: $form-label-font-size;
    font-weight: $form-label-font-weight;
    margin-bottom: $form-label-margin-bottom;
  }

  .form-control {
    padding: $input-padding-y $input-padding-x;
    font-size: $input-font-size;
    border: 1px solid $input-border-color;
    border-radius: $border-radius-small;
    margin-bottom: 1rem;
  }

  .button {
    background-color: $primary;
    color: $white;
    padding: $btn-padding-y $btn-padding-x;
    font-size: $btn-font-size;
    font-weight: $btn-font-weight;
    border-radius: $border-radius-small;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken($primary, 10%);
    }
  }

  .recommendation-card-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }
}
