@use '../variables' as *;

.swipe-container {
  flex: 1 1 auto;
  display: grid;
  padding: 0 $body-padding;

  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.swipe-card {
  position: relative;
  height: 100%;
  grid-row: 1;
  grid-column: 1;
  z-index: 999;
  touch-action: pan-x;

  &:hover {
    cursor: grab;
  }

  &:active {
    cursor: grabbing;
  }

  &_icon {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    transition: opacity 0.25s ease-out;
  }

}
