@use './variables' as *;

.base-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, $white, $light);
}

.content-container {
  width: 100%;
  max-width: 400px;
}
