@use './fonts' as *;

// Farben
$primary:    #FFA400;
$secondary:  #4A4044;
$light:      #EDE0C8;
$dark:       #1E171A;
$white:      #FFFFFF;
$black:      #000000;

$gray-100:   #F8F8F8;
$gray-200:   #E8E8E8;
$gray-300:   #D9D9D9;
$gray-600:   #797979;

$danger:     #D40000;

$body-color: $dark;

// Fonts
$font-family-base: 'Open Sans', sans-serif;

$h1-font-size: 2.5rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.25rem;
$headings-line-height: 1.5;
$headings-font-weight: 800;
$headings-font-family: $font-family-base;

$font-size-base: 1.25rem;
$font-weight-base: 400;
$line-height-base: 1.5;

$small-font-size: 1rem;

// Imp Font
$lead-font-size: 1.25rem;
$lead-font-weight: 600;

// Tag Font
$tag-font-size: 1rem;
$tag-font-size-small: 0.75rem;
$tag-font-weight: 600;

// Layout
$border-radius-small: 5px;
$border-radius: 10px;
$border-radius-large: 20px;
$body-padding: 0.8rem;
$box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.15);
$border-light: 1px solid $light;
$border-grey: 1px solid $gray-300;

// Buttons
$btn-padding-y: 0.5rem;
$btn-padding-x: 1.25rem;
$btn-font-size: 1.5rem;
$btn-font-size-flat: 1.25rem;
$btn-font-weight: 800;
$btn-font-weight-flat: 400;
$btn-box-shadow: $box-shadow;

// Forms
$input-padding-y: 0.5rem;
$input-padding-x: 1rem;
$input-font-size: 1.25rem;
$input-font-weight: 400;
$input-border-color: $light;

$form-label-font-size: 1.25rem;
$form-label-font-weight: 800;
$form-label-margin-bottom: 0.5rem;
